# [Unity]
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Memory dumps and profiler data
*.pid
*.pem
*.save
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.userprefs
*.unityproj
*.sln
*.csproj

# Folders commonly used by IDEs
.vs/
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db